{% load static %}

{% load bootstrap4 %}                     {# imports bootstrap3 #}
{% bootstrap_css %}                       {# Embeds Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embeds Bootstrap JS #}
{% block extrahead %}                     {# Embeds Extra Resources #}
{% endblock %}                            {# Ends Extra Resources #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %} {% endblock %}</title>


        <link rel="stylesheet" type="text/css" href="{% static 'match/styles/main.css' %}">

        {% block stylesheet %} {% endblock %}

  </head>

  <body>
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}

            {% for message in messages %}
              <div class="alert alert-{{message.tags}}"> {{message}} </div>
            {% endfor %}

          {% endif %}

          {% block content %} {% endblock %}

        </div>
      </div>
    </main>


    <script src="{% static 'match/scripts/main.js' %}"></script>

    {% block javascript %} {% endblock %}

  </body>
</html>
