{% extends 'match/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Welcome to Match! {% endblock %}

{% block content %}

        <form action="{%url 'login' %}" method="POST">

            {% csrf_token %}
            <legend class="border-bottom mb-4">Log In</legend>
               <fieldset class="form-group">
                 {{login_form|crispy}}
              </fieldset>

            <input type="submit" name="login" value="Log In">

        </form>

        <form action="{%url 'register' %}" method="POST">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Register</legend>
             <fieldset class="form-group">
            {{reg_form|crispy}}
            </fieldset>

            <input type="submit" name="register" value="Register">

        </form>

{% endblock %}

{% block javascript %}

{% endblock %}
